
<div class="container">
  <div class="row">

    <h1>ながのCAKE</h1>
    <h2>⻑野県にある⼩さな洋菓⼦店</h2>
    <p>
      一軒家の長野北部地域唯一の洋菓子店として、地元と密着した商品を提供しています。<br>地元のイチゴや卵などをできるだけ使ったり、生産者の方が直接来られたり、地元密着の商品が、ながのCAKEの売りです。<br>地元はもちろん市内外、県外の方にも是非ながのCAKEに一度来て地元の味を味わってみてください。<br>北部地域の名所になりたい、そんな思いを込めてながのCAKEは食育のために小学校へお話をしに行くなど、様々な取り組みをしています。
    </p>

  </div>
</div>
