<div class="container">
  <div class="row">
    <div class="col-md-6">
      <thead>
        <th>
          商品名
          </th>
        <th>
          単価(税込)
          </th>
        <th>
          数量
          </th>
        <th>
          小計
          </th>
        </thead>
    </div>
    <div class="col-offset-2 col-md-4">
      <thead>
        <th>
        送料
          </th>
        <th>
        商品合計
          </th>
        <th>
        請求金額
          </th>
        </thead>

      <tbody>
        <td>
          <%= order.postage %></td>
        <td>


        </td>
        <td>

          </td>
        </tbody>

      支払い方法　

      お届け方法


    </div>


    </div>

  </div>
