#theTarget{
  height: 400px;
  /* width: 80%; */
  /* float: right; */
}
/* トップページアニメーション */
.image1 {
 background-image: url(../cake1.jpg);
}
.image2 {
  background-image: url(../cake2.jpg);
}
.image3 {
  background-image: url(../cake3.jpg);
}
.image4 {
  background-image: url(../cake4.jpg);
}
.image5 {
  background-image: url(../cake5.jpg);
}

.nav-sidebar, .top-item-name{
  text-align: center;
}
