<h1>ショッピングカート</h1>

<%# <table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead> %>
  <tbody>
<h1>カートの中身</h1>
<% @cart.each do |item| %>
<tr>
<td><%= item.name %></td>
<% end %><br>
</tr>
</tbody>