<div class="container">
<div class="row">
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <td>
        購入日時</td>
      <td>
        購入者</td>
      <td>
        注文個数</td>
      <td>
        注文ステータス</td>
    </thead>
    <tbody>
      <td>
        created_at
        </td>
      <td>
        customer_id
        </td>
      <td>
        item_number
        </td
      <td>
        order_status
        </td>

    </tbody>
  </table>


</div>
</div>
</div>
