<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <h2>注文一覧画面</h2>
        <thead>
          <tr>
          <td>
            購入日時</td>
          <td>
            購入者</td>
          <td>
            注文個数</td>
          <td>
            注文ステータス</td>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <% order.order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td>
              <%= order.created_at %>
            </td>
            <td>
              <%= order.customer_id %>
            </td>
            <td>
              <% sum = 0 %>
              <% sum = sum + order_detail.item_number %>
              <%= sum %>
            </td>
            <td>
              <% order_detail.order_status %>
            </td>
          </tr>
        </tbody>
    <% end %>
    <% end %>
  </table>

</div>
</div>
</div>
