
<div class="container">

  <h3>購入者情報入力画面</h3>

  <div class="row">

    <h4>支払い方法</h4>
    <%= form_with (model: oder) do |f| %>

    <%= f.radio_button :payment,  %>

    <% end %>
  </div>

</div>
